@import url('https://fonts.googleapis.com/css?family=Carter+One|Lato');

/* http://ianlunn.github.io/Hover/ */

html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

h3, h5, b{
    font-family: 'Carter One', cursive;
}

mark {
    background-color: #f2f2f2;
    font-size: 1rem;
}

p {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

.container-top {
    margin-top: -2%;
}

.row {
    margin-top: 2.5%;
}


#live2d {
    position: relative;
}

#live2d:hover {
    cursor: pointer;
}

#name {
    text-decoration: none;
    color: black;
}

.timeline {
    list-style: none;
}

#footer-copyright {
    color: grey;
}

#resume-icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.fa-github {
    font-size: 40px; 
    color: black; 
    margin-left: 20px;
}

.fa-linkedin-in {
    font-size: 30px;
    color: black;
}

.fa-facebook {
    font-size: 30px;
    color: black;
}

#bilibili-icon {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-right: 5px;
}

.fa-soundcloud {
    font-size: 30px;
    color: black;
}

#umaru-image {
    width: 70%;
    height: 70%;
}